@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: gainsboro;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

.thought {
  position: relative;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.thought:after {
  content: '';
  background-color: #1e293b;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.thought:after {
  top: 9px;
  width: 25px;
  height: 25px;
  box-shadow: -50px -22px 0 -10px #1e293b, -20px -15px 0 -7px #1e293b, -37px -20px 0 -9px #1e293b;
}

.center-img {
  display: inline-block;
}

/* CSS HEX
--rose-quartz: #a8a2aaff;
--ultra-violet: #5c5390ff;
--french-gray: #afa9abff;
--azure-web: #daf0f9ff;
--english-violet: #463f6aff; */
